@model MarcacaoViewModel

@{
    ViewData["Title"] = "Detalhar marcação";
}

<h2>@ViewData["Title"]</h2>


<div>
    <h4>Marcações</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marcacao.Cliente.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marcacao.Cliente.Nome)
        </dd>
        <dt>
            Data da marcação
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marcacao.DataMarcacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marcacao.Cliente.Celular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marcacao.Cliente.Celular)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.Marcacao.IdMarcacao">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>


